tr{
  transition: all .3s;
  background-color: var(--background-color);
  cursor: pointer;
  &:hover{
    background-color: #575555;
  }
}
//tr:first-child{
//  &:hover{
//    background-color: var(--background-color) !important;
//  }
//}
td,th{
  color: var(--color) !important;
}